/* OUTPUT CONTENT */

.calculator-output {
	animation: showup 2s ease-in;
	margin-top: 0.5rem;
}

/* OUTPUT OPTIONS */

.output-option {
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-gap: 5px;
	margin: 0 1rem 0 1rem;
}

#svg_icon_switch {
	height: 15px;
	width: 15px;
	margin-left: 5px;
}

#svg_icon_edit {
	height: 30px;
	width: 30px;
}

#svg_icon_save {
	height: 35px;
	width: 35px;
}

#svg_icon_edit,
#svg_icon_save {
	fill: var(--status-color-warning);
}

#svg_icon_switch {
	fill: var(--default-color-2);
}

#svg_icon_check {
	animation: showup 2s ease-in;
	height: 30px;
	width: 30px;
}

#svg_icon_check > g {
	fill: var(--status-color-success);
}

#svg_icon_check > circle {
	stroke: var(--status-color-success);
}

/* INPUT PERSON */

.input-person {
	background: var(--background-color-2);
	border-radius: 10px;
	color: var(--font-color-1);
	margin: 1rem;
}

.input-person p {
	font-weight: bold;
	margin-bottom: unset;
}

#input-person-name {
	text-transform: capitalize;
}

/* OUTPUT TYPE */

.output-detail {
	transition: all 1s ease 2s;
}
