.history-content {
	min-height: 300px;
}

.history-content > h5 {
	background: var(--element-background-3);
	border-top: 1px solid var(--border-color-1);
	border-radius: 50%;
	margin: 1rem auto;
	padding: 15px 10px 10px 10px;
	text-shadow: 2px 0 0 var(--default-color-1);
	width: 75%;
}

.history-content #svg_icon_save {
	height: 150px;
	width: 150px;
	opacity: 0.5;
}

.history-item {
	align-items: center;
	background: var(--element-background-1);
	border-radius: 20px;
	box-shadow: var(--element-shadow);
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	grid-gap: 5px;
	margin: 0.5rem 0;
	padding: 5px;
	text-align: center;
}

.history-item-person p {
	margin-bottom: unset;
}

.history-item-fullname {
	font-style: italic;
	text-transform: capitalize;
}

.history-item-birth {
	font-weight: bolder;
}

.history-item-action {
	margin: 0rem 10px;
	cursor: pointer;
}

#svg_icon_view {
	fill: var(--border-color-1);
	height: 30px;
	width: 30px;
}

#svg_icon_delete {
	fill: var(--status-color-danger);
	height: 30px;
	width: 30px;
}

#svg_icon_view:hover,
#svg_icon_delete:hover {
	fill: var(--default-color-3);
}
