/* GLOBAL */
*,
:after,
:before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	background: var(--global-background);
	margin: 0;
	scrollbar-width: thin;
	scrollbar-color: var(--scroll-color-border) var(--scroll-color-body);
	user-select: none;
	-webkit-user-select: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
	width: 15px;
}
body::-webkit-scrollbar-track {
	background: var(--scroll-color-background);
}
body::-webkit-scrollbar-thumb {
	background: var(--scroll-color-body);
	border: 3px solid var(--scroll-color-border);
	border-radius: 6px;
}

/* SITE PARTS */
.site {
	background-color: var(--global-background);
	background-size: cover;
	background-attachment: fixed;
	background-clip: border-box;
	background-repeat: no-repeat;
	font-family: var(--app-font-family);
	min-height: 100%;
	transition: background-image 1.5s linear;
}

.site-header {
	flex: none;
	min-height: 50px;
	-webkit-box-flex: 0;
}

.site-content {
	display: flex;
	flex: 1;
	min-height: calc(100vh - 90px);
	width: 100%;
}

.site-footer {
	flex: none;
	margin-top: auto;
	min-height: 40px;
	-webkit-box-flex: 0;
}

/* DIV content */

.box {
	align-self: center;
	animation: showup 2s ease-in;
	margin: 1rem;
	width: 100%;
}

.box-content {
	background: var(--content-background);
	border-radius: 1rem;
	box-shadow: var(--content-shadow);
	color: var(--font-color-1);
	margin: 0 auto;
	padding: 1.5rem 1rem;
	text-align: center;
	transition: background-color 0.4s linear;
}

/* BUTTON action */

button,
button:focus,
button:hover {
	background: none;
	border: none;
	color: var(--default-color-3);
	outline: none !important;
	text-decoration: none;
}

.btn-action {
	background: var(--btn-blur-background);
	border-radius: 5px;
	padding: 7px;
}

.btn-action-outline {
	background: none;
	border: 1px solid var(--default-color-3);
	border-radius: 5px;
	padding: 6px;
}

.btn-action:focus,
.btn-action:hover,
.btn-action-outline:focus,
.btn-action-outline:hover {
	background: var(--btn-focus-background);
	border-right: 2px solid var(--default-color-3);
	border-bottom: 2px solid var(--default-color-3);
	border-radius: 5px;
	padding: 7px 5px 5px 7px;
}

/* BUTTON circle */

.btn-circle {
	background: var(--btn-circle-background);
	border-radius: 50%;
	padding: 0;
}

.btn-circle:focus,
.btn-circle:hover {
	background: var(--btn-focus-background);
	border-radius: 50%;
}

/* INPUT TYPE NUMBER */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}
