:root {
	--app-font-family: 'Rubik', sans-serif;
	--font-size-1: 1rem;
	--font-size-2: 1.2rem;
	--font-size-3: 1.5rem;
	--font-size-4: 0.8rem;
	--footer-color: #474747;
	--footer-background: black;
	--scroll-color-background: #030303;
	--scroll-color-body: #47545a;
	--scroll-color-border: #e0e0e0;
	--status-color-success: #5bb95b;
	--status-color-warning: #c4be69;
	--status-color-danger: #d66565;
}

body[data-theme='dark'] {
	--content-background: #221333b3;
	--content-shadow: 0 0 10px #ed9ec5;
	--border-color-1: #af5efc;
	--border-color-2: #342042;
	--border-color-3: #19091f;
	--btn-circle-background: linear-gradient(135deg, #6c3794 0%, #110718 100%);
	--btn-blur-background: linear-gradient(to bottom, #7149a5 51%, #2f1841 51%, #2f1841 100%);
	--btn-focus-background: #280f32;
	--default-color-1: #000000;
	--default-color-2: #a09e9e;
	--default-color-3: #ffffff;
	--element-background-1: linear-gradient(to bottom, #000000 0%, #3a3a3a1a 100%);
	--element-background-2: linear-gradient(to bottom, #663255 51%, #250f21 51%, #240f15 100%);
	--element-background-3: linear-gradient(to bottom, #2c101d 0%, #3a3a3a00 100%);
	--element-color-1: #481c5c;
	--element-color-2: #3d1e57;
	--element-color-3: #1b0c11;
	--element-color-4: #0b050f;
	--font-color-1: #e0dfdf;
	--font-color-2: #242424;
	--modal-background: #140b0e;
	--modal-shadow: 0 0 10px #ed9e9e;
	--navbar-active-link: #af5efc;
	--navbar-background: linear-gradient(
		135deg,
		#000000 5%,
		#140b0e 10%,
		#3b1f32 30%,
		#61325f 40%,
		#3b1f32 55%,
		#140b0e 80%,
		#000000 100%
	);
	--navbar-hover-link: #ffffff;
	--navbar-theme-switch: #fcdf82f3;
	--number-highlight: 0 -2px 10px #ff0, 2px 2px 2px #ce593700;
}
body[data-theme='light'] {
	--content-background: #ffe0aaa9;
	--content-shadow: 0 0 10px #fca93d;
	--border-color-1: #b15b15;
	--border-color-2: #dbaf6c;
	--border-color-3: #fab14b;
	--btn-circle-background: linear-gradient(135deg, #fcf5b2 0%, #a06238 60%, #44220b 100%);
	--btn-blur-background: linear-gradient(to bottom, #fae1ab 41%, #c79770 70%, #8b5a32 100%);
	--btn-focus-background: #fad38c;
	--default-color-1: #ffffff;
	--default-color-2: #5e5e5e;
	--default-color-3: #000000;
	--element-background-1: linear-gradient(to bottom, #faf3cb 0%, #00000000 100%);
	--element-background-2: linear-gradient(to bottom, #f8e5b0 41%, #d6ae7f 75%, #a5632e 100%);
	--element-background-3: linear-gradient(to bottom, #fce8a5 0%, #fcf3d700 100%);
	--element-color-1: #f0cf9d;
	--element-color-2: #e6d1ab;
	--element-color-3: #fae6b0;
	--element-color-4: #fcf1e1;
	--font-color-1: #000000;
	--font-color-2: #e6e6e6;
	--modal-background: #f7e6ae;
	--modal-shadow: 0 0 10px #edcb9e;
	--navbar-active-link: #c28222;
	--navbar-background: linear-gradient(
		135deg,
		#fac992 5%,
		#f8d593 10%,
		#fceeb0 30%,
		#f8f1ae 40%,
		#faebb8 55%,
		#f8dd93 80%,
		#facf9e 100%
	);
	--navbar-hover-link: #ffffff;
	--navbar-theme-switch: #320f4dd3;
	--number-highlight: 0 -2px 10px rgb(204, 117, 3), 2px 2px 3px #ff9d8094, 2px 2px 3px #ce5a371f;
}
