:root {
	--app-font-family: 'Rubik', sans-serif;
	--font-size-1: 1rem;
	--font-size-2: 1.2rem;
	--font-size-3: 1.5rem;
	--font-size-4: 0.8rem;
	--scroll-color-background: #030303;
	--scroll-color-body: #47545a;
	--scroll-color-border: #e0e0e0;
	--status-color-success: #5bb95b;
	--status-color-warning: #c4be69;
	--status-color-danger: #d66565;
}

body[data-theme='dark'] {
	--content-background: #221333b3;
	--content-shadow: 0 0 10px #ed9ec5;
	--border-color-1: #af5efc;
	--border-color-2: #342042;
	--border-color-3: #19091f;
	--btn-blur-background: linear-gradient(to bottom, #7149a5 51%, #2f1841 51%, #2f1841 100%);
	--btn-circle-background: linear-gradient(135deg, #6c3794 0%, #110718 100%);
	--btn-focus-background: rgb(40, 15, 50);
	--default-color-1: #000000;
	--default-color-2: #a09e9e;
	--default-color-3: #ffffff;
	--element-background-1: linear-gradient(to bottom, #000000 0%, #3a3a3a1a 100%);
	--element-background-2: linear-gradient(to bottom, #633454 51%, #33152a 51%, #33152a 100%);
	--element-background-3: linear-gradient(to bottom, #33152a 0%, #3a3a3a1a 100%);
	--element-color-1: #61325f;
	--element-color-2: #3b1f32;
	--element-color-3: #140b0e;
	--font-color-1: #e0dfdf;
	--font-color-2: #242424;
	--modal-background: #140b0e;
	--modal-shadow: 0 0 10px #ed9e9e;
	--navbar-active-link: #af5efc;
	--navbar-background: linear-gradient(
		135deg,
		#000000 5%,
		#140b0e 10%,
		#3b1f32 30%,
		#61325f 40%,
		#3b1f32 55%,
		#140b0e 80%,
		#000000 100%
	);
	--navbar-hover-link: #ffffff;
	--navbar-theme-switch: #ecd684;
}
body[data-theme='light'] {
	--content-background: #fafae8e1;
	--content-shadow: 0 0 10px #ede19e;
	--border-color-1: #9c933a;
	--border-color-2: #424020;
	--border-color-3: #1f1c09;
	--btn-blur-background: linear-gradient(to bottom, #eee7ad 51%, #b6b275 51%, #b6b275 100%);
	--btn-circle-background: linear-gradient(135deg, #eee7ad 0%, #5c5924 100%);
	--btn-focus-background: #cec578;
	--default-color-1: #ffffff;
	--default-color-2: #464545;
	--default-color-3: #000000;
	--element-background-1: linear-gradient(to bottom, #fff8ea 0%, #00000000 100%);
	--element-background-2: linear-gradient(to bottom, #fcefc7 51%, #dacf93 51%, #dacf93 100%);
	--element-background-3: linear-gradient(to bottom, #d6cb8d 0%, #f8e6ac 100%);
	--element-color-1: #d6d695;
	--element-color-2: #e4e4c7;
	--element-color-3: #f0f0dd;
	--font-color-1: #000000;
	--font-color-2: #e6e6e6;
	--modal-background: #ebebd1;
	--modal-shadow: 0 0 10px #ede19e;
	--navbar-active-link: #a0985c;
	--navbar-background: linear-gradient(
		135deg,
		#fffaf2 5%,
		#ece9df 10%,
		#ccc8b3 30%,
		#cecab1 40%,
		#ccc8b3 55%,
		#ece9df 80%,
		#fffaf2 100%
	);
	--navbar-hover-link: #ffffff;
	--navbar-theme-switch: #342042;
}
