/* RESULTS OPTIONS */

.results.options {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	margin-top: 3px;
}

#results_report_btn {
	color: black;
	font-weight: bolder;
}

.results-back-btn {
	flex: 1 1 0px;
	font-weight: bold;
}

.results-options-title {
	flex: 4 1 0px;
	font-style: italic;
}

.results-report-btn {
	flex: 1 1 0px;
}

/* RESULTS INPUTS */

.results.header p {
	margin-bottom: unset;
	font-weight: bold;
}

.results.header {
	color: black;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 5px;
	border-radius: 10px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d8e0de+0,aebfbc+22,99afab+33,8ea6a2+50,829d98+67&1+0,0.67+100 */
	background: linear-gradient(
		135deg,
		rgba(216, 224, 222, 1) 0%,
		rgba(174, 191, 188, 0.93) 22%,
		rgba(153, 175, 171, 0.89) 33%,
		rgba(142, 166, 162, 0.83) 50%,
		rgba(130, 157, 152, 0.78) 67%,
		rgba(130, 157, 152, 0.67) 100%
	);
}

#output-name {
	text-transform: capitalize;
}

/* RESULTS DETAILS */

.results.details {
	color: white;
	font-size: 1em;
}

.results.details-item {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-gap: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 20px;
	border: 2px solid black;
	padding: 5px;
	text-align: center;
	background-color: rgba(138, 138, 138, 0.404);
}

.r-title {
	font-style: italic;
}

.r-value {
	font-weight: bolder;
}

.r-expand {
	cursor: pointer;
}
