.form-input-date .form-control {
    margin: 3px;
}

.form-output {
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    font-size: 0.8em;
    background-color: rgba(74, 92, 95, 0.5);
}

.form-output-title {
    background-color: black;
    border-top: 1px solid white;
    border-bottom: 2px solid white;
}

.form-actions .btn {
    margin: 2px;
}

#remove-field,
#add-field {
    font-weight: bolder;
}

#form_submit {
    color: black;
    font-weight: bolder;
}

.input-group-append .btn,
.input-group-prepend .btn {
    z-index: unset !important;
}