/* INPUT */

.form-input-date .form-control {
	margin: 3px;
}

/* OUTPUT */

.form-output {
	margin: 0 auto;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 0.8em;
}

.form-output-header {
	font-size: 1em;
	border-top: 1px solid rgb(151, 151, 151);
	border-radius: 15px 15px 0px 0px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,3a3a3a+100&1+0,0.5+100,0.1+100 */
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(58, 58, 58, 0.1) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(58, 58, 58, 0.1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(58, 58, 58, 0.1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#1a3a3a3a', GradientType=0);
	/* IE6-9 */
}

.form-output-check-btn {
	margin-left: 10px;
	background-color: white;
	padding: 0px 7px 0px 7px;
	border-radius: 50%;
	font-weight: bold;
	cursor: pointer;
	color: black;
}

#form-output-check {
	display: none;
}

.form-output-values {
	display: block;
	width: 100%;
	height: 0px;
	overflow-y: hidden;
	transition: all 0.3s ease-in;
	border-bottom: 1px solid rgb(48, 48, 48);
	border-radius: 0px 0px 15px 15px;
	background-color: rgba(74, 92, 95, 0.1);
	-ms-overflow-style: none;
}

.form-output-values::-webkit-scrollbar {
	display: none;
}

#form-output-check:not(:checked) ~ .form-output-values {
	height: 0px;
}

#form-output-check:checked ~ .form-output-values {
	height: 55px;
	overflow-y: auto;
}

/* ACTIONS */

.form-actions .btn {
	margin: 2px;
}

#remove-field,
#add-field {
	font-weight: bolder;
}

#form_submit_btn {
	color: black;
	font-weight: bolder;
}

.input-group-append .btn,
.input-group-prepend .btn {
	z-index: unset !important;
}
