.output-record {
	animation: showup 2s ease-in;
	color: var(--font-color-1);
	font-size: var(--font-size-1);
}

/* GLOBAL EXPAND */

.output-record-switch-expand {
	background: var(--element-background-1);
	border-radius: 20px 20px 0 0;
	border-top: 1px var(--border-color-1) solid;
	border-bottom: none;
	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 1fr;
}

.output-record-switch-expand > button {
	color: var(--border-color-1);
}

/* ROWS */

.output-record-item {
	align-items: center;
	background: var(--element-background-4);
	border: 1px solid var(--element-color-1);
	border-bottom: 0;
	border-radius: 20px 20px 0 0;
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	gap: 5px;
	padding: 2px;
	text-align: center;
}

.record-title > i {
	font-style: normal;
	font-weight: 500;
}

.record-value {
	font-size: var(--font-size-2);
	font-weight: bolder;
	text-shadow: var(--font-shadow);
}

span[data-result-value="11"],
span[data-result-value="22"],
span[data-result-value="33"] {
	font-weight: 700;
	text-shadow: var(--number-highlight);
}

.record-expand {
	color: var(--default-color-3);
	cursor: pointer;
	font-size: var(--font-size-1);
	font-style: normal;
	font-weight: bolder;
	transform: rotate(90deg);
	transition: transform .3s ease, top .3s ease;
}

input[id^='check-record-item'] {
	display: none;
}

input[id^='check-record-item']:not(:checked) ~ div[id^='record-detail-'] {
	height: 0;
	padding: 0;
}

input[id^='check-record-item']:checked ~ div[id^='record-detail-'] {
	height: auto;
}

input[id^='check-record-item']:checked ~ .output-record-item {
	background: var(--element-background-1);
}

input[id^='check-record-item']:checked ~ .output-record-item span > label.record-expand {
	transform: rotate(-90deg);
}

/* DETAIL */

div .output-record-detail {
	background: var(--element-background-3);
	border: 1px solid var(--border-color-2);
	border-radius: 0 0 20px 20px;
	box-shadow: var(--element-shadow);
	display: block;
	font-size: 0.9em;
	height: 0px;
	margin-bottom: 0.5rem;
	overflow-y: hidden;
	padding: 0.5rem 0 0.5rem 0.5rem;
	text-align: left;
	transition: all .3s ease;
}

div .output-record-detail > p {
	text-align: center;
	margin-top: 0.5rem;
}

div .output-record-detail p > span {
	font-size: var(--font-size-1);
	font-weight: 700;
}
