/* RESULT HEADER */

.calculator-result {
	animation: showup 2s ease-in;
}

.result-header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-gap: 5px;
	margin: 1rem;
	padding: 5px;
	border-radius: 10px;
	background: var(--background-color-2);
}

.result-person p {
	margin-bottom: unset;
	font-weight: bold;
}

.result-person {
	color: var(--font-color-1);
}

#output-name {
	text-transform: capitalize;
}

/* RESULT DETAIL */

#back_icon > path {
	fill: var(--default-color-2);
}

.result-detail {
	color: var(--font-color-1);
	font-size: var(--font-size-1);
}

.result-detail-item {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-gap: 5px;
	margin: 1rem;
	border-radius: 20px;
	border: 2px solid var(--default-color-1);
	padding: 5px;
	text-align: center;
	background-color: var(--content-color-2);
}

.r-title {
	font-style: italic;
}

.r-value {
	font-weight: bolder;
}

.r-expand {
	cursor: pointer;
}
