/* HOME INTRO */

.home-content {
    text-align: center;
    padding: 20px;
    font-size: calc(10px + 2vmin);
    color: white;
}

.home-intro {
    border-bottom: 2px solid rgba(255, 255, 255, 0.541);
}

.home-logo {
    height: 40vmin;
    pointer-events: none;
    animation: element-spin infinite 20s linear;
}

label {
    text-align: left;
    font-size: 0.8em;
    font-style: italic;
}


/* HOME FORM */

#form_date {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
}

#form_submit {
    margin-top: 50px;
}


/* HOME MODAL */

.modal-text {
    text-align: center;
    font-size: 1em;
}


/*HOME ANIMATIONS*/

@keyframes element-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}