.home-box {
	align-self: center;
	margin: 0 auto;
	animation: showup 2s ease-in;
}

.home-content {
	text-align: center;
	display: flex;
	margin: 0.5rem;
	flex-direction: column;
	padding: 1.5rem;
	border-radius: 1rem;
	color: var(--default-color-2);
	background-color: var(--background-color-1);
	box-shadow: var(--content-box-shadow);
}

.home-header {
	font-size: var(--font-size-3);
	font-weight: bold;
}

.home-quote {
	font-size: var(--font-size-1);
	font-style: italic;
}

.home-logo {
	height: 30vmin;
	pointer-events: none;
	animation: element-spin infinite 20s linear;
}

.home-button {
	margin: 0 auto;
	margin-top: 2rem;
	padding: 15px;
	outline: none;
	text-decoration: none;
	color: var(--default-color-2);
	border-top: 2px solid var(--default-color-3);
	border-left: 2px solid var(--default-color-3);
	border-radius: 0.25rem;
	background-color: var(--blur-color-1);
}

.home-button:hover,
.home-button:focus {
	outline: none;
	border: none;
	text-decoration: none;
	color: var(--default-color-2);
	border-top: 2px solid var(--default-color-2);
	border-left: 2px solid var(--default-color-2);
	border-radius: 0.3rem;
	background-color: var(--focus-color-1);
}
