/* HOME INTRO */

.home-content {
    text-align: center;
    padding: 20px;
    font-size: calc(15px + 1vmin);
    color: white;
}

.home-intro {
    border-bottom: 2px solid rgba(255, 255, 255, 0.541);
}

.home-logo {
    height: 30vmin;
    pointer-events: none;
    animation: element-spin infinite 20s linear;
}

label {
    text-align: left;
    font-size: 0.8em;
    font-style: italic;
}


/* HOME FORM */

.home-form {
    margin-top: 1rem;
}

.form-input-date .form-control {
    margin: 3px;
}

.form-output {
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    font-size: 0.8em;
    background-color: rgba(219, 219, 219, 0.253);
}

.form-actions .btn {
    margin: 2px;
}


/* HOME RESULTS */

.home-results {
    margin-top: 2em;
}


/* HOME MODAL */

.modal-text {
    text-align: center;
    font-size: 1em;
}


/*HOME ANIMATIONS*/

@keyframes element-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}