.home-header {
	font-size: var(--font-size-3);
	font-weight: bold;
}

.home-quote {
	font-size: var(--font-size-1);
	font-style: italic;
}

#svg_logo_main {
	animation: element-spin infinite 20s linear;
	height: 30vmin;
	margin: 1rem;
	pointer-events: none;
}

#svg_logo_main > g > path {
	fill: var(--content-color-3);
	stroke: white;
}

#svg_logo_main > path:last-child {
	stroke: white;
}
