.home-box {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-30%, -50%);
}

.home-content {
    color: #ddecee;
    text-align: center;
}

.home-header {
    font-size: 1.2em;
    font-weight: bold;
}

.home-quote {
    font-size: 1em;
    font-style: italic;
}

.home-logo {
    height: 30vmin;
    pointer-events: none;
    animation: element-spin infinite 20s linear;
}

.home-button {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    font-weight: bold;
}