.headline-content {
	border-bottom: 2px solid var(--border-color-1);
	display: flex;
	justify-content: center;
}

.headline-content #svg_logo_mandala {
	animation: element-spin infinite reverse 20s linear;
	height: 65px;
	margin: 10px;
	pointer-events: none;
	width: 65px;
}

.headline-content #svg_logo_mandala path {
	stroke: var(--default-color-3);
}

.headline-content-text > p {
	font-size: var(--font-size-4);
}

.headline-content-text > h1 {
	font-size: var(--font-size-3);
}

.headline-content-text {
	align-self: center;
	text-align: left;
}

.headline-content-text > p {
	margin: 0;
}
