.nav-custom {
	background: var(--navbar-background);
	border-bottom: 2px solid var(--element-color-1);
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.nav-custom > .nav-switch > button,
.nav-custom > .nav-custom-links > button {
	background: none;
	border: none;
	text-decoration: none;
}

.navbar-separator {
	border-left: 2px solid var(--default-color-2);
	border-radius: 50%;
	padding: 10px 0;
}

/* THEME SWITCHER */
.nav-switch svg {
	height: 30px;
	width: 30px;
	animation: blurred-in 0.35s linear;
}

.nav-switch:hover svg path {
	transition: fill 0.4s linear;
}

.nav-switch svg path {
	fill: var(--navbar-theme-switch);
}

.nav-switch:hover svg path {
	fill: var(--default-color-3);
}

/* LANG SWITCHER */

#switcher-lang:checked + .switcher-label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

#switcher-lang:checked + .switcher-label {
	text-align: left;
}

.lang .switcher-label {
	background: var(--element-background-2);
	border-color: var(--border-color-2);
	color: var(--font-color-1);
	font-style: normal;
	text-align: right;
	width: 70px;
}

.lang .switcher-label:after {
	border: 1px solid var(--border-color-1);
	background: var(--element-color-3);
}

.lang .switcher-label:active:after {
	width: 55px;
}

/* GENERAL SWITCH */

.nav-custom > .nav-switch {
	display: inline-block;
	margin: 10px 10px 0 10px;
}

/* LINKS */

.nav-custom > .nav-custom-btn,
.nav-custom > #nav-custom-check {
	display: none;
}

.nav-custom > .nav-custom-links {
	float: right;
	font-size: 1.1rem;
	margin-right: 10px;
}

.nav-custom > .nav-custom-links > button {
	color: var(--font-color-1);
	display: inline-block;
	padding: 12px 10px 12px 10px;
}

.nav-custom > .nav-custom-links > button:hover {
	border-bottom: 2px solid var(--navbar-hover-link);
	border-radius: 0.15rem;
}

.nav-custom > .nav-custom-links > button.active-route {
	border-bottom: 3px solid var(--navbar-active-link);
	border-radius: 0.20rem;
}
