.nav-custom {
	background: var(--navbar-background);
	border-bottom: 2px solid var(--element-color-1);
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.nav-custom > .nav-switch > button,
.nav-custom > .nav-custom-links > button {
	background: none;
	border: none;
	text-decoration: none;
}

.nav-switch svg {
	height: 30px;
	width: 30px;
	animation: blurred-in 0.35s linear;
}

.nav-switch:hover svg path {
	transition: fill 0.4s linear;
}

.nav-switch svg path {
	fill: var(--navbar-theme-switch);
}

.nav-switch:hover svg path {
	fill: var(--default-color-3);
}

.nav-custom > .nav-switch {
	display: inline-block;
	padding: 10px 0 0 10px;
}

.nav-custom > .nav-custom-btn {
	display: none;
}

.nav-custom > .nav-custom-links {
	float: right;
	font-size: 1.1rem;
}

.nav-custom > .nav-custom-links > button {
	display: inline-block;
	padding: 12px 10px 12px 10px;
}

.nav-custom > .nav-custom-links > button:hover {
	border-bottom: 2px solid var(--navbar-hover-link);
	border-radius: 0.15rem;
}

.nav-custom > .nav-custom-links > button.active-route {
	border-bottom: 3px solid var(--navbar-active-link);
	border-radius: 0.20rem;
}

.nav-custom > #nav-custom-check {
	display: none;
}
