.nav-custom {
	background: var(--navbar-background);
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.nav-custom > .nav-change-theme > button,
.nav-custom > .nav-custom-links > button {
	background: none;
	border: none;
	text-decoration: none;
}

.nav-change-theme #svg_logo_mandala {
	border-radius: 50%;
	box-shadow: 0 0 5px var(--border-color-1);
	height: 40px;
	padding: 3px;
	width: 40px;
}

.nav-change-theme #svg_logo_mandala,
.nav-change-theme #svg_logo_mandala path,
.nav-change-theme:hover #svg_logo_mandala path {
	transition: stroke 0.4s linear, box-shadow 0.4s linear;
}

.nav-change-theme #svg_logo_mandala path {
	stroke: var(--default-color-2);
}

.nav-change-theme:hover #svg_logo_mandala path {
	stroke: var(--default-color-3);
}

.nav-custom > .nav-change-theme {
	display: inline-block;
	padding: 5px 0 0 10px;
}

.nav-custom > .nav-custom-btn {
	display: none;
}

.nav-custom > .nav-custom-links {
	float: right;
	font-size: 1.1rem;
}

.nav-custom > .nav-custom-links > button {
	display: inline-block;
	padding: 12px 10px 12px 10px;
}

.nav-custom > .nav-custom-links > button:hover {
	border-bottom: 1.5px solid var(--navbar-hover-link);
	border-radius: 0.20rem;
}

.nav-custom > .nav-custom-links > button.active-route {
	border-bottom: 3px solid var(--navbar-active-link);
	border-radius: 0.20rem;
}

.nav-custom > #nav-custom-check {
	display: none;
}
