.nav-custom {
	background: linear-gradient(
		135deg,
		var(--default-color-1) 5%,
		var(--content-color-3) 10%,
		var(--content-color-2) 30%,
		var(--content-color-1) 40%,
		var(--content-color-2) 55%,
		var(--content-color-3) 80%,
		var(--default-color-1) 100%
	);
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.nav-custom > .nav-custom-header > .nav-custom-icon > button,
.nav-custom > .nav-custom-links > button {
	background: none;
	border: none;
	text-decoration: none;
}

.nav-custom > .nav-custom-header {
	display: inline;
}

#home_icon > g > path {
	stroke: var(--default-color-2);
}

.nav-custom > .nav-custom-header > .nav-custom-icon {
	display: inline-block;
	padding: 6.5px 0px 0px 10px;
}

.nav-custom > .nav-custom-btn {
	display: none;
}

.nav-custom > .nav-custom-links {
	float: right;
	font-size: 1.1rem;
}

.nav-custom > .nav-custom-links > button {
	display: inline-block;
	padding: 13px 10px 13px 10px;
}

.nav-custom > .nav-custom-links > button:hover {
	border-bottom: 3px solid white;
	border-radius: 0.25rem;
}

.nav-custom > #nav-custom-check {
	display: none;
}
