.history-title {
	padding-top: 1rem;
}

.history-item {
	background: var(--element-background-1);
	border-radius: 20px;
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	grid-gap: 5px;
	align-items: center;
	margin: 1rem;
	padding: 5px;
	text-align: center;
}

.history-item-person p {
	font-weight: bold;
	margin-bottom: unset;
}

.history-item-fullname {
	font-style: italic;
	text-transform: capitalize;
}

.history-item-birth {
	font-weight: bolder;
}

.history-item-action {
	margin: 0rem 10px;
	cursor: pointer;
}

#svg_icon_view {
	fill: var(--border-color-1);
	height: 30px;
	width: 30px;
}

#svg_icon_delete {
	fill: var(--status-color-danger);
	height: 30px;
	width: 30px;
}

#svg_icon_view:hover,
#svg_icon_delete:hover {
	fill: var(--default-color-3);
}
