/* INPUT */
.form-calculator {
	margin-top: 1rem;
}

#form_name,
#form_date {
	text-align: left;
}

#form_name > label,
#form_date > label {
	font-size: var(--font-size-4);
}

#form_name .form-control,
#form_date .form-control {
	background: var(--element-color-4);
	color: var(--font-color-1);
}

.form-control {
	border: 1px solid var(--default-color-3);
}

.form-input-date .form-control {
	margin: 3px;
}

input[name^="firstName"],
input[name^="lastName"] {
	text-transform: capitalize;
}

/* PREVIEW */

.form-preview {
	background: var(--element-background-1);
	border-top: 1px solid var(--border-color-1);
	border-radius: 15px 15px 0px 0px;
	font-size: var(--font-size-1);
	margin: 0 auto;
	margin-bottom: 1rem;
	margin-top: 1.5rem;
	padding: 5px;
}

#form-preview-check {
	display: none;
}

.form-preview-check-btn {
	border-radius: 50%;
	cursor: pointer;
	font-size: var(--font-size-1);
	font-style: normal;
	font-weight: bolder;
	margin-left: 10px;
	transform: rotate(90deg);
	transition: transform .3s ease, top .3s ease;
}

.form-preview-values {
	border-radius: 0px 0px 15px 15px;
	display: block;
	height: 0px;
	overflow-y: hidden;
	text-transform: capitalize;
	transition: all .3s ease;
	width: 100%;
	-ms-overflow-style: none;
}

.form-preview-values::-webkit-scrollbar {
	display: none;
}

#form-preview-check:not(:checked) ~ .form-preview-values {
	height: 0px;
}

#form-preview-check:checked ~ .form-preview-values {
	height: 55px;
	overflow-y: auto;
}

#form-preview-check:checked ~ .form-preview-header .form-preview-check-btn {
	transform: rotate(-90deg);
}

/* ACTIONS */

.form-actions {
	display: grid;
	grid-template-columns: 2fr 0.5fr;
	grid-gap: 20px;
}

#svg_icon_trash {
	fill: var(--status-color-danger);
	height: 30px;
	width: 25px;
}

#svg_icon_trash:hover {
	fill: var(--default-color-3);
}

#remove-field,
#add-field {
	font-weight: bolder;
}

.input-group-append .btn,
.input-group-prepend .btn {
	z-index: unset !important;
}
