html {
	height: 100%;
	scroll-behavior: smooth;
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* SCROLL-BAR STYLE */
body::-webkit-scrollbar {
	width: 15px;
}
body {
	scrollbar-width: thin;
	scrollbar-color: white #47545a;
}
body::-webkit-scrollbar-track {
	background: black;
}
body::-webkit-scrollbar-thumb {
	background-color: #47545a;
	border-radius: 6px;
	border: 3px solid white;
}

.site {
	min-height: 100vh;
	font-family: 'Rubik', sans-serif;
	background-color: black;
	background: url("./assets/background.jpg");
	background-repeat: no-repeat;
	background-clip: border-box;
	background-size: cover;
	background-attachment: scroll;
}

.site-header {
	flex: none;
	-webkit-box-flex: 0;
	min-height: 50px;
}

.site-content {
	flex: 1;
	display: flex;
	width: 100%;
	height: 100%;
	min-height: calc(100vh - 100px);
}

.site-footer {
	flex: none;
	-webkit-box-flex: 0;
	margin-top: auto;
	min-height: 40px;
}
