:root {
	--app-font-family: 'Rubik', sans-serif;
	--font-size-1: 1rem;
	--font-size-2: 1.2rem;
	--font-size-3: 1.5rem;
	--font-size-4: 0.8rem;
	--scroll-color-background: #030303;
	--scroll-color-body: #47545a;
	--scroll-color-border: #e0e0e0;
	--status-color-success: #5bb95b;
	--status-color-warning: #c4be69;
	--status-color-danger: #d66565;
}

body[data-theme='dark'] {
	--content-background: #221333b3;
	--content-shadow: 0 0 10px #ed9ec5;
	--border-color-1: #af5efc;
	--border-color-2: #342042;
	--border-color-3: #19091f;
	--btn-blur-background: linear-gradient(to bottom, #7149a5 51%, #402158 51%, #402158 100%);
	--btn-focus-background: rgb(40, 15, 50);
	--default-color-1: #000000;
	--default-color-2: #808080;
	--default-color-3: #ffffff;
	--element-background-1: linear-gradient(to bottom, #000000 0%, #3a3a3a1a 100%);
	--element-background-2: linear-gradient(to bottom, #633454 51%, #33152a 51%, #33152a 100%);
	--element-background-3: linear-gradient(to bottom, #33152a 0%, #3a3a3a1a 100%);
	--element-color-1: #61325f;
	--element-color-2: #3b1f32;
	--element-color-3: #140b0e;
	--font-color-1: #e0dfdf;
	--font-color-2: #242424;
	--modal-background: #140b0e;
	--modal-shadow: 0 0 10px #ed9e9e;
	--navbar-background: linear-gradient(
		135deg,
		#000000 5%,
		#140b0e 10%,
		#3b1f32 30%,
		#61325f 40%,
		#3b1f32 55%,
		#140b0e 80%,
		#000000 100%
	);
}
body[data-theme='light'] {
	--content-background: #f0e8fae1;
	--content-shadow: 0 0 10px #ed9ec5;
	--border-color-1: #6b3a99;
	--border-color-2: #342042;
	--border-color-3: #19091f;
	--btn-blur-background: linear-gradient(to bottom, #baa1da 51%, #594469 51%, #594469 100%);
	--btn-focus-background: rgb(109, 71, 122);
	--default-color-1: #ffffff;
	--default-color-2: #464545;
	--default-color-3: #000000;
	--element-background-1: linear-gradient(to bottom, #ffeaea 0%, #00000000 100%);
	--element-background-2: linear-gradient(to bottom, #633454 51%, #33152a 51%, #33152a 100%);
	--element-background-3: linear-gradient(to bottom, #33152a 0%, #3a3a3a1a 100%);
	--element-color-1: #1b0e1b;
	--element-color-2: #3b1f32;
	--element-color-3: #140b0e;
	--font-color-1: #000000;
	--font-color-2: #e6e6e6;
	--modal-background: #140b0e;
	--modal-shadow: 0 0 10px #ed9e9e;
	--navbar-background: linear-gradient(
		135deg,
		#f8f2ff 5%,
		#ecdfe9 10%,
		#ccb3c5 30%,
		#ceb1c4 40%,
		#ccb3c5 55%,
		#ecdfe9 80%,
		#f8f2ff 100%
	);
}
