.output-report {
	animation: showup 2s ease-in;
}

.output-report > h4 {
	background: var(--element-background-1);
	border-top: 1px solid var(--border-color-1);
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	padding: 15px 10px 10px 10px;
	text-shadow: 2px 0 0 var(--default-color-1);
}

.report-category {
	background: var(--element-background-3);
	border-top: 1px solid var(--border-color-1);
	border-radius: 25px;
	margin-bottom: 0.5rem;
	padding: 1rem;
}

.report-title {
	font-size: var(--font-size-3);
	text-shadow: 2px 0 0 var(--default-color-1);
}

.report-value {
	font-size: var(--font-size-2);
	border-bottom: 2px solid var(--default-color-3);
	border-radius: 50%;
	margin: 0 auto;
	padding: 0.25em;
	text-shadow: 1px 0 0 var(--default-color-1);
	width: 25%;
}

.report-value-karma {
	text-align: center;
}

p[data-result-value="11"],
p[data-result-value="22"],
p[data-result-value="33"] {
	font-weight: 700;
	text-shadow: var(--number-highlight);
}

.report-description {
	font-style: italic;
	margin-top: 10px;
	text-align: left;
}

.report-description.extra p > .report-title {
	border-top: 1px solid var(--border-color-1);
	border-radius: 10px;
	padding: 5px 10px 0 0;
}

.btn-action.contacto {
	width: 100%;
}
