.output-report {
	animation: showup 2s ease-in;
}

.output-report > h4 {
	background: var(--element-background-1);
	border-radius: 20px 20px 0 0;
	border-top: 2px var(--border-color-2) solid;
	border-bottom: none;
	padding: 15px 10px 0px 10px;
	text-shadow: var(--font-shadow);
}

.report-category {
	background: var(--element-background-3);
	border-top: 1px solid var(--border-color-1);
	border-radius: 25px;
	box-shadow: var(--element-shadow);
	margin-bottom: 0.5rem;
	padding: 1rem;
}

.report-title {
	font-size: var(--font-size-3);
	text-shadow: var(--font-shadow);
}

.report-value {
	font-size: var(--font-size-2);
	border-bottom: 2px solid var(--default-color-3);
	border-radius: 50%;
	margin: 0 auto;
	padding: 0.25em;
	text-shadow: var(--font-shadow);
	width: 25%;
}

.report-value-aspect {
	font-style: normal;
	font-weight: 600;
	text-shadow: var(--font-shadow);
}

.report-value-karma {
	text-align: center;
}

p[data-result-value="11"],
p[data-result-value="22"],
p[data-result-value="33"] {
	font-weight: 700;
	text-shadow: var(--number-highlight);
}

.report-description {
	font-style: italic;
	margin-top: 10px;
	text-align: left;
}

.report-description.extra {
	margin-top: 1rem;
}

.report-description.extra p > .report-title {
	border-bottom: 2px solid var(--element-color-1);
	padding: 0 0 1px 0;
}

.btn-action.contacto {
	width: 100%;
}
