/* GENERAL */

.footer-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: var(--font-size-4);
	padding: 0.5rem 0 0 0.5rem;
	overflow-x: hidden;
}

/* TITLE AUTHOR */

.footer-title {
	display: flex;
	color: #c5c5cc;
	align-self: flex-end;
	text-indent: 5px;
	font-style: italic;
	margin-bottom: 0;
}
