#app-modal .modal-content {
	box-shadow: var(--app-box-shadow-1);
}

#app-modal-header,
#app-modal-body,
#app-modal-footer {
	background: var(--content-color-3);
	border: none;
	color: var(--font-color-1);
}

#app-modal-title {
	margin: 0 auto;
}

#app-modal-body {
	border-top: 0.5rem solid var(--border-color-2);
	padding: 1rem 1rem 0.5rem 1rem;
}
