.calculator-intro {
	border-bottom: 2px solid var(--border-color-1);
	display: flex;
	justify-content: center;
	margin: 0 1rem 0 1rem;
}

.calculator-intro-text > p:first-child {
	font-size: var(--font-size-2);
}

.calculator-intro-text > p:last-child {
	font-size: var(--font-size-3);
}

.calculator-intro-logo {
	animation: element-spin infinite 20s linear;
	height: 65px;
	margin: 10px;
	pointer-events: none;
	width: 65px;
}

.calculator-intro-text {
	align-self: center;
	text-align: left;
}

.calculator-intro-text > p {
	margin: 0;
}

label {
	font-style: italic;
}

.modal-text {
	text-align: center;
}
