/* GENERAL */

.footer-box {
	align-items: center;
	flex-direction: row;
	font-size: var(--font-size-4);
	display: flex;
	justify-content: space-between;
	overflow-x: hidden;
	padding: 0.5rem 0 0 0.5rem;
}

/* TITLE AUTHOR */

.footer-title {
	align-self: flex-end;
	color: var(--default-color-2);
	font-style: italic;
	display: flex;
	margin-bottom: 0;
	text-indent: 5px;
}
